<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Registro Alumno</title>
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div class="container">
					<form novalidate
					[formGroup]="myform"
		      		(ngSubmit)="onSubmit()">
					<h2>Registro Alumno</h2>
					<fieldset formGroupName="name">
						<div class="form-group">
							<label for="matricula">Matricula del alumno:</label>
							<input 
								type="text"
					            class="form-control"
					            formControlName="matricula"
					            required
					            [(ngModel)]="registroAlumno"/>
    			        </div>
						<div class="form-group">
							<label for="nombre">Nombre del alumno:</label>
							<input 
								type="text"
					            class="form-control"
					            formControlName="nombre"
					            required
					            [(ngModel)]="registroNombre"/>
    			        </div>
						<div class="form-group">
							<label for="apellido">Apellido del alumno:</label>
							<input 
								type="text"
					            class="form-control"
					            formControlName="apellido"
					            required
					            [(ngModel)]="registroApellido"/>
    			        </div>


  			            	<h2>Escuela</h2>

    			        		<div class="form-group">
									<select  class="form-control" 
									[(ngModel)]="registroEscuela" 
									[ngModelOptions]="{standalone: true}">
										<option value="-1">Selecciona una opción..</option>
									    <option *ngFor="let d of hack3()" 
									    [ngValue]="d.schoolId" 
    									>
									      {{d.name}}
									    </option>
									</select>
		            			</div>

    			            	<h2>Carrera</h2>

    			        		<div class="form-group">
									<select  class="form-control" 
									[(ngModel)]="registroCarrera" 
									[ngModelOptions]="{standalone: true}">
										<option value="-1">Selecciona una opción..</option>
									    <option *ngFor="let d of hack2()" 
									    [ngValue]="d.transactionId" 
    									>
									      {{d.name}}
									    </option>
									</select>
		            			</div>



    			    </fieldset>
						<button  type="submit" class="form-control btn btn-info" style="width:150px" (click)="hack()">Registrar alumno</button>
					</form>
					<br>
		     		<ul>
				    	<li *ngFor="let d of hack()"> 
				      	{{ d.firstName }}
				    	</li>
				   </ul>
		</div>
	</body>
</html>