<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Registro Carrera</title>
		<base href="/">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<form novalidate
			      [formGroup]="myform"
			      (ngSubmit)="onSubmit()">
						<h2>Registro Carrera</h2>
						<fieldset formGroupName="name">
						<div class="form-group">
							<label for="carreraNombre">Nombre de Carrera:</label>
							<input 
								type="text"
					            class="form-control"
					            formControlName="carrera"
					            required
					            [(ngModel)]="nombreCarrera"/>
            			</div>
						<div class="form-group">
							<label for="carreraUnidades">Unidades de  la Carrera:</label>
							<input 
								type="text"
					            class="form-control"
					            formControlName="unidades"
					            required
					            [(ngModel)]="unidadesCarrera"/>
            			</div>

						 </fieldset>
						<button  type="submit" class="form-control btn btn-info" style="width:100px">Registrar</button>
						<button class="btn btn-primary" (click)="doGET()">GET</button>
						<br><br>
					</form>
					<br>
		     		<ul>
				    	<li *ngFor="let d of hack()"> 
				      	{{ d.name }}
				    	</li>
				   </ul>
				</div>
			</div>
		</div>
	</body>
</html>