<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Registro Tema</title>
		<base href="/">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form name="addcarrera" ng-submit="submitForm(addcarrera.$valid)">
						<h2>Registro Tema</h2>
						<div class="form-group">
							<label for="carreraNombre">Nombre del Tema:</label>
							<input class="form-control" id="carreraNombre" placeholder="Nombre de la nueva carrera"
								required
								name="name"
								ng-model="userfullName"
								class="form-control"
								placeholder=""
								ng-model="name"
								ng-minlength="10"
								ng-maxlength="60"/>
            </div>
						<button  type="submit" class="form-control btn btn-info" style="width:100px">Registrar</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>