<div class="jumbotron">
	<img src="../assets/GE_Logo.png" alt="Grade Exchanger">
	<h1>Grade Exchanger</h1>
</div>
<nav class="navbar navbar-dark bg-info navbar-expand-md" id="sticky">
	<a class="navbar-brand">GradeExchanger</a>
	<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarMenu" >
		<ul class="navbar-nav nav-fill w-100" id="navbarMenu">
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="/home" class="nav-link">Home</a>
			</li>
		    <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" id="products" href="">Registros<span class="caret"></span></a>
		        <ul class="dropdown-menu" id="product-list">
					<li >
						<a routerLinkActive="active" routerLink="/registro" class="dropdown-item">Alumnos</a>
					</li>
					<li class="dropdown-divider" id="separator">
						<a routerLinkActive="active" routerLink="registarMateria" class="dropdown-item">Materia</a>
					</li>
					<li class="dropdown-divider" id="separator">
						<a routerLinkActive="active" routerLink="registarTema" class="dropdown-item">Tema</a>
					</li>
					<li class="dropdown-divider" id="separator">
						<a routerLinkActive="active" routerLink="registarArea" class="dropdown-item">Área</a>
					</li>
		            <li class="dropdown-divider" id="separator">
						<a routerLinkActive="active" routerLink="registarCarrera" class="dropdown-item">Carrera</a>
					</li>
					<li class="dropdown-divider" id="separator">
						<a routerLinkActive="active" routerLink="registarEscuela" class="dropdown-item">Escuela</a>
					</li>
		        </ul>
		    </li>
		    <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" id="products" href="">Calificaciones<span class="caret"></span></a>
		        <ul class="dropdown-menu" id="product-list">
					<li >
						<a routerLinkActive="active" routerLink="registarCalificacion" class="dropdown-item">Registro</a>
					</li>
					<li >
						<a routerLinkActive="active" routerLink="calificaciones" class="dropdown-item">Consulta</a>
					</li>
		        </ul>
		    </li>
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="buscar-intercambios" class="nav-link">Buscar intercambios</a>
			</li>
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="revalidar" class="nav-link">Revalidar</a>
			</li>

		</ul>
	</div>
</nav>