.jumbotron{
    background: white !important;
    margin-bottom: 0 !important;
    text-align: center;
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    color: #8cc3d1;
    width: 100% !important;
    top: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 800px) {
    h1{
        padding: 10px 0;
    }
}

h1{
    font-size: 40px !important;
}


.navbar{
    width: 100% !important;
}

.navbar-brand{
    color: white !important;
}

#product-list{
    display:none;

}
#products:hover ~ #product-list{
    display:block;
}

#product-list:hover{
    display:block;
    

}

#separator{
    height:30px;
}

#title{
    position: fixed;
}

#sticky{
    text-align: justify;

}


