<div class="jumbotron">
	<img src="../assets/GE_Logo.png" alt="Grade Exchanger">
	<h1>Grade Exchanger</h1>
</div>
<nav class="navbar navbar-dark bg-info navbar-expand-md" id="sticky">
	<a class="navbar-brand">GradeExchanger</a>
	<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarMenu">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="/home" class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="/registro" class="nav-link">Registro de Alumnos</a>
			</li>
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="calificaciones" class="nav-link">Calificaciones de Alumnos</a>
			</li>
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="buscar-intercambios" class="nav-link">Buscar intercambios</a>
			</li>
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="revalidar" class="nav-link">Revalidar</a>
			</li>
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="registarCarrera" class="nav-link">Registrar Carrera</a>
			</li>
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="registarMateria" class="nav-link">Registrar Materia</a>
			</li>
			<li class="nav-item">
				<a routerLinkActive="active" routerLink="registarTema" class="nav-link">Registrar Tema</a>
			</li>
		</ul>
	</div>
</nav>