
<div class="modal fade" id="demoModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">Enhorabuena</h2>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Transferencia exitosa</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Confirm</button>
			</div>
		</div>
	</div>
</div>

<div class="container my-container">
	<div class="row justify-content-around ">
		<div class="col-md-12">
			<div class="form-group">
				<label for="llave-publica"> Llave pública:</label>
				<input type="text" id="llave-publica" placeholder="Llave p&uacute;blica">
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#demoModal">Transferir</button>
			</div>
		</div>
		<div class="col-md-12">
			<label for="llave-privada"> Llave privada:</label>
			<input type="text" id="llave-privada" placeholder="Llave privada">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">

		</div>
	</div>
	<br>
</div>