<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Registro Materia</title>
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div class="container">
					<form novalidate
					[formGroup]="myform"
		      		(ngSubmit)="onSubmit()">
					<h2>Registro Materia</h2>
					<fieldset>
						<div class="form-group">
							<label for="materiaNombre">Nombre de la Materia:<label class="error" *ngIf="myform.get('materia').hasError('required')">*</label></label>
							<input 
								type="text"
					            class="form-control"
					            formControlName="materia"
					            required
					            [(ngModel)]="registroMateria"/>
						</div>
						<p class="error" *ngIf="myform.get('materia').hasError('minlength')">El nombre de la materia es muy corto</p>

    			            	<h2>Escuela</h2>

    			        		<div class="form-group">
									<select  class="form-control" 
									[(ngModel)]="registroEscuela" 
									[ngModelOptions]="{standalone: true}">
										<option value="-1">Selecciona una opción..</option>
									    <option *ngFor="let d of hack4()" 
										[ngValue]="d.schoolId" 
    									>
									      {{d.name}}
									    </option>
									</select>
		            			</div>

    			            	<h2>Area</h2>

    			        		<div class="form-group">
									<select  class="form-control" 
									[(ngModel)]="registroArea" 
									[ngModelOptions]="{standalone: true}">
										<option value="-1">Selecciona una opción..</option>
									    <option *ngFor="let d of hack3()" 
										[ngValue]="d.transactionId"
    									>
									      {{d.name}}
									    </option>
									</select>
		            			</div>
    			            			     <h2>Temario</h2>
								<div class="form-group">
									<label for="tema1">Tema 1: </label>
									<select  class="form-control" 
									[(ngModel)]="registroTema1" 
									[ngModelOptions]="{standalone: true}">
										<option value="-1">Selecciona una opción..</option>
									    <option *ngFor="let d of hack2()" 
										[ngValue]="d.transactionId"
    									>
									      {{d.name}}
									    </option>
									</select>
		            			</div>
		            			<div class="form-group">
									<label for="tema1">Tema 2: </label>
									<select  class="form-control" 
									[(ngModel)]="registroTema2" 
									[ngModelOptions]="{standalone: true}">
										<option value="-1">Selecciona una opción..</option>
									    <option *ngFor="let d of hack2()" 
										[ngValue]="d.transactionId" 
    									>
									      {{d.name}}
									    </option>
									</select>
		            			</div>
		            			<div class="form-group">
									<label for="tema1">Tema 3: </label>
									<select  class="form-control" 
									[(ngModel)]="registroTema3" 
									[ngModelOptions]="{standalone: true}">
										<option value="-1">Selecciona una opción..</option>
									    <option *ngFor="let d of hack2()" 
									    [ngValue]="d.transactionId" 
    									>
									      {{d.name}}
									    </option>
									</select>
		            			</div>
		            			<div class="form-group">
									<label for="tema1">Tema 4: </label>
									<select  class="form-control" 
									[(ngModel)]="registroTema4" 
									[ngModelOptions]="{standalone: true}">
										<option value="-1">Selecciona una opción..</option>
									    <option *ngFor="let d of hack2()" 
									    [ngValue]="d.transactionId" 
    									>
									      {{d.name}}
									    </option>
									</select>
		            			</div>
		            			<div class="form-group">
									<label for="tema1">Tema 5: </label>
									<select  class="form-control" 
									[(ngModel)]="registroTema5" 
									[ngModelOptions]="{standalone: true}">
										<option value="-1">Selecciona una opción..</option>
									    <option *ngFor="let d of hack2()" 
									    [ngValue]="d.transactionId" 
    									>
									      {{d.name}}
									    </option>
									</select>
		            			</div>
    			    </fieldset>
						<button type="submit" class="form-control btn btn-info" style="width:150px" (click)="hack()" [disabled]="myform.invalid">Registrar materia</button>
					</form>
					<br>
		     		<ul>
				    	<li *ngFor="let d of hack()"> 
				      	{{ d.name }}
				    	</li>
				   </ul>
		</div>
	</body>
</html>