<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Registro Materia</title>
		<base href="/">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form name="addmateria" ng-submit="submitForm(addmateria.$valid)">
						<h2>Registro Materia</h2>
						<div class="form-group">
							<label for="carreraNombre">Nombre de Materia:</label>
							<input class="form-control" id="carreraNombre" placeholder="Nombre de la nueva carrera"
								required
								name="name"
								ng-model="userfullName"
								class="form-control"
								placeholder=""
								ng-model="name"
								ng-minlength="10"
								ng-maxlength="60"/>
            </div>
            <h2>Area</h2>
						<div class="form-group">
							<label for="area">Area de conocimiento:</label>
							<select required class="form-control" id="area" >
								<option style="color:gray" value="" disabled selected hidden>Selecciona una opción...</option>
								<option>Area A</option>
								<option>Area B</option>
								<option>Area C</option>
                <option>Area D</option>
                <option>Area E</option>
                <option>Area F</option>
							</select>
						</div>
            <h2>Temario</h2>
						<div class="form-group">
							<label for="tema1">Tema 1:</label>
							<select required class="form-control" id="tema1" >
								<option style="color:gray" value="" disabled selected hidden>Selecciona una opción...</option>
								<option>Tema A</option>
								<option>Tema B</option>
								<option>Tema C</option>
								<option>Tema D</option>
								<option>Tema E</option>
								<option>Tema F</option>
							</select>
            </div>
            <div class="form-group">
							<label for="tema2">Tema 2:</label>
							<select required class="form-control" id="tema2" >
								<option style="color:gray" value="" disabled selected hidden>Selecciona una opción...</option>
								<option>Tema A</option>
								<option>Tema B</option>
								<option>Tema C</option>
								<option>Tema D</option>
								<option>Tema E</option>
								<option>Tema F</option>
							</select>
            </div>
            <div class="form-group">
							<label for="tema3">Tema 3:</label>
							<select required class="form-control" id="tema3" >
								<option style="color:gray" value="" disabled selected hidden>Selecciona una opción...</option>
								<option>Tema A</option>
								<option>Tema B</option>
								<option>Tema C</option>
								<option>Tema D</option>
								<option>Tema E</option>
								<option>Tema F</option>
							</select>
            </div>
            <div class="form-group">
							<label for="tema4">Tema 4:</label>
							<select required class="form-control" id="tema4" >
								<option style="color:gray" value="" disabled selected hidden>Selecciona una opción...</option>
								<option>Tema A</option>
								<option>Tema B</option>
								<option>Tema C</option>
								<option>Tema D</option>
								<option>Tema E</option>
								<option>Tema F</option>
							</select>
						</div>
						<button  type="submit" class="form-control btn btn-info" style="width:100px">Registrar</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>