<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Calificaciones Alumnos</title>
		<base href="/">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Calificaciones de Alumnos</h2>
					<form (ngSubmit)="onSubmit()" #f="ngForm">
						<div id="userdata">
							<div class="form-group ">
								<label for="alumnoId">Alumno:</label>
								<input type="text"
									class="form-control"
									id="alumnoId"
									placeholder="Matr&iacute;cula del alumno"
									ngModel
									name="matricula"
								>
							</div>
						</div>
						<button type="submit" class="btn btn-info">Consultar</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>