<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Consulta Calificacion</title>
		<base href="/">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>

		<div class="container">
			<form novalidate
		      [formGroup]="myform"
		      (ngSubmit)="onSubmit()">
				<h2>Consulta Calificacion</h2>
					<fieldset formGroupName="name">

						<div class="form-group">
							<label for="carreraNombre">Matrícula del Alumno:</label>
							<input 
								type="text"
					            class="form-control"
					            formControlName="alumno"
					            required
					            [(ngModel)]="registroAlumno"/>
    			        </div>
    			    </fieldset>
					<button  type="submit" class="form-control btn btn-info" style="width:100px" (click)="hack()">Registrar</button>
  					<button class="btn btn-primary" (click)="doGET()">GET</button>
     		</form>
			<br>
			<table>
				<tr>
				   <th>Matricula</th>
				   <th>Nombre</th>
				   <th>Cursos Aprobados</th>
				   <th>Cursos Reprobados</th>
				</tr>
				<tr *ngFor="let d of hack()">
				   <td>{{d.studentId}}</td>
				   <td>{{d.firstName}} {{d.lastName}}</td>
				   <td>
					   <ul *ngFor="let h of d.coursesApproved">
							 <ul *ngFor="let j of hack2()">
							   <div *ngIf="h.courseId.includes(j.courseId)">
								   <li>{{j.name}} {{h.period}} {{h.grade}}</li>
							   </div>
						   </ul>
					   </ul>
				   </td>
				   <td>
					   <ul *ngFor="let h of d.coursesFailed">
							 <ul *ngFor="let j of hack2()">
							   <div *ngIf="h.courseId.includes(j.courseId)">
								   <li>{{j.name}} {{h.period}} {{h.grade}}</li>
							   </div>
						   </ul>
					   </ul>
				   </td>
				</tr>
			</table> 
		    <!--	<li *ngFor="let d of hack()"> 
		    		{{d.firstName}} {{d.lastName}} {{d.studentId}}
		      	    <br>
		      		Cursos Aprobados

		      	    <ul *ngFor="let h of d.coursesApproved">
		      	    	<ul *ngFor="let j of hack2()">
							<div *ngIf="h.courseId.includes(j.courseId)">
								<li>{{j.name}}</li>
				             	<li>{{h.period}}</li>
				             	<li>{{h.grade}}</li>
							</div>
		            	</ul>
		            </ul>
		      		Cursos Reprobados

		      	    <ul *ngFor="let h of d.coursesFailed">
		      	    	<ul *ngFor="let j of hack2()">
							<div *ngIf="h.courseId.includes(j.courseId)">
								<li>{{j.name}}</li>
				             	<li>{{h.period}}</li>
				             	<li>{{h.grade}}</li>
							</div>
		            	</ul>
		            </ul>
				</li>
			-->
		</div>
	</body>
</html>