table, th {
    border-collapse: collapse;
    padding: 5px !important;
}

table{
    margin-bottom: 45px !important;
    border: 1px solid #a3a3a3;
}

th{
    background-color: #17a2b8;
    text-align: center;
    color: white;
}

th , td  {
    width: 620px;
}

table tr:nth-child(odd) {
    background-color: #d3f4ff;  
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.materias{
    border: 1px solid #a3a3a3;
    padding: 5px;
}

.error{
    color: red;
}