<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h2>Calificaciones de Alumnos</h2>
		</div>
	</div>
	<form (ngSubmit)="onSubmit()" #f="ngForm">
		<div class="row align-content-center justify-content-center" >
			<div class="col-md-8">
				<div id="userdata">
					<div class="form-group ">
						<label for="alumnoId">Alumno:</label>
						<input type="text"
						       class="form-control"
						       id="alumnoId"
						       placeholder="Matr&iacute;cula del alumno"
						       ngModel
						       name="matricula"

						>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<button type="submit" class="btn btn-info">Consultar</button>
			</div>
		</div>
	</form>
</div>