<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<base href="/">
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="fondo">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Mision</h2>
						<p>
							Facilitar la validación del historial académico de los alumnos con el fin de agilizar
							los trámites de revalidación entre escuelas y distintos sistemas educativos, utilizando
							como base la transparencia, rapidez y eficiencia, así como ecológicamente amigable.
						</p>

						<h2>Vision</h2>
						<p>
							Ser el mayor promotor de proyectos a base de Blockchain en el sistema educativo de México
							impulsando su adopción y aplicación para homogeneizar el intercambio de información académica
							e impulsar al país para un cambio donde la transparencia esté presente en toda transacción.
						</p>

						<h2>¿Qué es Grade Exchanger?</h2>
						<p>
							Es un sistema de registro de historial académico mediante el uso de la tecnología Blockchain, con la
							finalidad de facilitar los trámites escolares de los estudiantes entre diferentes instituciones
							educativas, principalmente de educación superior. Uno de sus principales usos radica en el cambio
							de un estudiante de una universidad a otra, ya sea de manera temporal, como el caso intercambio
							internacional por un semestre, o de manera permanente, como un cambio de institución educativa.
						</p>

						<h2>Equipo de trabajo</h2>
						<p class="equipo">
							José Ballesteros
							<br> Yukio Tsuru
							<br> Gustavo Méndez
							<br> Steven Potts
							<br> Fernando García
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>